doctype html
html
    head
        title Graph
        style.
            body {
                padding: 10px 100px;
            }
    body
        h1 Graph
        #graph

        script(src="build/main.js")
